/* Custom styles */

.header-wrapper {
  background-color: #212529;
}

input[type="text"] {
  border: 1px solid #333;
  outline: 1px solid #333;
  border-radius: 0;
}

input[type="text"]:invalid {
  border-color: red;
  outline-color: red;
}

input[type="text"]:valid {
  border-color: limegreen;
  outline-color: limegreen;
}

/* Component styles */
.main-nav {
  list-style-type: none;
  padding-left: 0%;
  display: flex;
}

.devices-table td:nth-child(n + 4) {
  text-align: right;
}
