<% if (deviceConfigs) { %>
  <form method="POST">
    <% deviceConfigs.forEach(config => { %>
      <br>
      <label><%= config.name %></label>
      <% if (config.input == 'radio') { %>
        <% config.presets.forEach((preset, i) => { %>
          <!-- Render radio input -->
          <input
            type="radio"
            name="<%= config.config_type_id %>"
            value="<%= preset %>"
            <%= i === 0 && !config.value || preset === config.value ? "checked" : null %>>
          <label><%= preset %></label>
        <% }) %>
      <% } else if (config.input == 'range') { %>
        <br>
        <!-- Render range input -->
        <!-- Set range to value last saved by the user -->
        <% var rangeValue = config.value ? config.value : Math.round((config.presets[0] + config.presets[1])/2) %>
        <input
          type="range"
          name="<%= config.config_type_id %>"
          min="<%= config.presets[0] %>"
          max="<%= config.presets[1] %>"
          step="1"
          value="<%= rangeValue %>"
          oninput="this.nextElementSibling.value = this.value">
        <output><%= rangeValue %></output>
      <% } else if (config.input == 'text') { %>
        <br>
        <!-- Render text input -->
        <input
          type="text"
          name="<%= config.config_type_id %>"
          value="<%= config.value %>"
          <%= config.name === "Name" ? "required" : null %>
          <% if (config.name === "IP Address") { // enforce IP address pattern %>
            pattern="\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b"
          <% } %> >
      <% } else if (config.input == 'select') { %>
        <br>
        <!-- Render select -->
        <select
          type="select"
          name="<%= config.config_type_id %>">
          <% config.presets.forEach(preset => { %>
            <option <%= config.value === preset ? "selected" : null %> ><%= preset %></option>
          <% }) %> 
        </select>
        <!-- Render checkbox -->
      <% } else if (config.input == 'checkbox') { %>
        <br>
        <input type="hidden" name="<%= config.config_type_id %>" value="0" />
        <input
          type="checkbox"
          name="<%= config.config_type_id %>"
          <%= config.value === "on" ? "checked" : null %>>
      <% } %>
      <br>
    <% }) %>
    <br>
    <input class="btn btn-primary" type="submit" value="Save" />
    <a class="btn btn-secondary" onclick="window.history.back()">Back</a>
  </form>
<% } %>