<!doctype html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include("../../common/components/head.html") %>
</head>

<body>
  <%- include("../../common/components/navbar.html") %>
  <div class="page-wrapper">
    <div class="container">
      <h1>Add a new device</h1>
      <p>Select a device type to add:</p>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= allDevices.find(device => device.id === deviceTypeId).name %> 
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% allDevices.forEach(device => { %> 
            <li>
              <a
                class="dropdown-item<%= deviceTypeId === device.id ? " active" : null %>"
                href="/devices/add/<%= device.id %>"
              >
                <%= device.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
      <%- include("../../common/components/device-form.html") %>
    </div>
  </div>
</body>

</html>