<!doctype html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>Add a new device</h1>
  <p>Select a device type to add:</p>
  <select onchange="if (this.value) window.location.href='/devices/add/'+this.value" value>
    <% allDevices.forEach(function(device) { %> 
      <option value="<%= device.id %>" <% if(deviceTypeId == device.id) { %><%- "selected" %><% } %>>
        <a href="/devices/add/<%= device.id %>"><%= device.name %></a>
      </option>
    <% }); %>
  </select>
  <p>Fill the following details to add a new device of selected type:</p>
  <% if (selectedDeviceConfigs && deviceTypeId) { %>
    <form method="POST">
      <% selectedDeviceConfigs.forEach(function(config) { %>
        <br>
        <% if (config.input == 'radio') { %>
          <label><%= config.name %></label>
          <% config.presets.forEach(function(preset) { %>
            <label><%= preset %></label>
            <input type="radio" name="<%= config.config_type_id %>" value="<%= preset %>">
          <% }) %>
        <% } else if (config.input == 'range') { %>
          <label><%= config.name %></label><br>
          <input
            type="range"
            name="<%= config.config_type_id %>"
            min="<%= config.presets[0] %>"
            max="<%= config.presets[1] %>"
            oninput="this.nextElementSibling.value = this.value">
          <output></output><br>
        <% } else if (config.input == 'text') { %>
          <label><%= config.name %></label><br>
          <input
            type="text"
            name="<%= config.config_type_id %>"
            oninput="this.nextElementSibling.value = this.value">
          <output></output><br>
        <% } %>
      <% }) %>
      <input type="submit" value="Save" />
    </form>
  <% } %>
</body>

</html>