<!doctype html>
<html>

<head>
  <title><%= title %></title>
  <%- include("../../common/components/head.html") %>
</head>

<body>
  <%- include("../../common/components/navbar.html") %>
  <div class="page-wrapper">
    <div class="container">
      <h1>Device <%= id %> will be deleted</h1>
      <p>Are you sure you want to delete the device?</p>
      <form method="POST" style="display: inline;">
        <input class="btn btn-danger" type="submit" value="Confirm">
        <a class="btn btn-secondary" onclick="window.history.back()">Back</a>
      </form>
    </div>
  </div>
</body>

</html>