<!doctype html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include("../../common/head.html") %>
</head>

<body>
  <%- include("../../common/navbar.html") %>
  <h1>Added devices</h1>
  <% if (userDevicesDetails.length > 0) { %> 
    <p>The following table lists the devices that you have added.</p>
    <table>
      <thead>
        <tr>
          <% Object.keys(userDevicesDetails[0]).forEach(key => { %>
            <td><%= key.toUpperCase() %></td>
          <% }); %>
          <td>EDIT</td>
          <td>DELETE</td>
        </tr>
        </thead>
      <tbody>
        <% userDevicesDetails.forEach(device => { %>
          <tr>
            <td><%= device.id %></td>
            <td><%= device.type %></td>
            <td><%= device.name %></td>
            <td><a href="/devices/edit/<%= device.id %>">Edit</a></td>
            <td>
              <a
                href="/devices/delete/<%= device.id %>"
                onclick="return confirm('Are you sure to delete this device?')"
              >
                Delete
              </a>
            </td>
          </tr>
        <% }); %> 
      </tbody>
    </table>
  <% } else { %>
    No devices to show. Please add a device to see it here.
  <% } %>
</body>

</html>