<!doctype html>
<html>

<head>
  <title><%= title %></title>
  <%- include("../../common/components/head.html") %>
</head>

<body>
  <%- include("../../common/components/navbar.html") %>
  <div class="page-wrapper">
    <div class="container">
      <h1>Device status</h1>
      <table class="table table-sm">
        <thead>
          <tr><th>Property</th><th>Value</th></tr>
        </thead>
        <tbody>
          <tr><td>Device Type</td><td><%= userDevice.type %></td></tr>
          <% deviceConfigs.forEach(config => { %>
            <% if (config.input === "range") { %>
              <tr>
                <td><%= config.name %></td>
                <td>
                  <div class="progress" style="height: 1.5rem">
                    <!-- Progress bar percentage calculation -->
                    <% var progressPercent = Math.round((config.value - config.presets[0] ) * 100 / (config.presets[1] - config.presets[0])); %>
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style=<%- "\"width: " + progressPercent + "%;\"" %>
                      aria-valuenow="<%= config.value %>"
                      aria-valuemin="<%= config.presets[0] %>"
                      aria-valuemax="<%= config.presets[1] %>"
                    >
                      <%= config.value %> 
                    </div>
                  </div>
                </td>
              </tr>
            <% } else if (config.input === "checkbox") { %>
              <tr>
                <td><%= config.name %></td>
                <td>
                  <%= config.value === "on" ? "✔️" : "❌" %> 
                </td>
              </tr>
            <% } else if (config.input === "radio" || config.input === "select") { %>
              <tr>
                <td><%= config.name %></td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <!-- Render radio and select items -->
                    <% config.presets.forEach(preset => { %> 
                      <input type="radio" class="btn-check" name="<%= config.id %>" id="btnradio1" autocomplete="off" <%= preset === config.value ? "checked" : ""; %>>
                      <label class="btn btn-sm btn-outline-primary disabled" for="btnradio1"><%= preset %> </label>
                    <% }); %> 
                  </div>
                </td>
              </tr>
            <% } else { %>
              <tr><td><%= config.name %></td><td><%= config.value %></td></tr>
            <% } %>
          <% }); %> 
        </tbody>
      </table>
      <a class="btn btn-primary" href="/devices/edit/<%= userDevice.id %>">Edit</a>
      <a class="btn btn-danger ml-4" href="/devices/delete/<%= userDevice.id %>">Delete</a>
      <a class="btn btn-secondary ml-2" onclick="window.history.back()">Back</a>
    </div>
  </div>
</body>

</html>