/* Element styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
}

thead {
  color: white;
  font-weight: bold;
  background-color: gray;
}

td {
  padding: 0.1rem 0.5rem;
  border: 1px solid black;
}

tbody tr:nth-child(2n) td {
  background-color: lightgray;
}

input[type="text"] {
  border: 1px solid #333;
  outline: 1px solid #333;
  border-radius: 0;
}

input[type="text"]:invalid {
  border-color: red;
  outline-color: red;
}

input[type="text"]:valid {
  border-color: limegreen;
  outline-color: limegreen;
}

/* Component styles */
.main-nav {
  list-style-type: none;
  padding-left: 0%;
  display: flex;
}

/* .main-nav li:first-child > a {
  border-radius: 3rem 0 0 3rem;
}

.main-nav li:last-child > a {
  border-radius: 0 3rem 3rem 0;
} */

.main-nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: lightsteelblue;
  color: black;
}

.main-nav a:hover {
  background-color: darkslateblue;
  color: white;
}

.main-nav a:active {
  background-color: darkred;
  color: white;
}