.main-nav {
  list-style-type: none;
  padding-left: 0%;
}

table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

td {
  padding: 0.1rem 0.5rem;
  border: 1px solid black;
}
