<% if (selectedDeviceConfigs && deviceTypeId) { %>
  <form method="POST">
    <% selectedDeviceConfigs.forEach(config => { %>
      <br>
      <label><%= config.name %></label>
      <% if (config.input == 'radio') { %>
        <% config.presets.forEach((preset, i) => { %>
          <input
            type="radio"
            name="<%= config.config_type_id %>"
            value="<%= preset %>"
            <%= i === 0 ? "checked" : null %>>
          <label><%= preset %></label>
        <% }) %>
      <% } else if (config.input == 'range') { %>
        <br>
        <input
          type="range"
          name="<%= config.config_type_id %>"
          min="<%= config.presets[0] %>"
          max="<%= config.presets[1] %>"
          step="1"
          value="<%= Math.round((config.presets[0] + config.presets[1])/2)  %> "
          oninput="this.nextElementSibling.value = this.value">
        <output><%= Math.round((config.presets[0] + config.presets[1])/2) %></output>
      <% } else if (config.input == 'text') { %>
        <br>
        <input
          type="text"
          name="<%= config.config_type_id %>"
          <%= config.name === "Name" ? "required" : null %>>
      <% } else if (config.input == 'select') { %>
        <br>
        <select
          type="select"
          name="<%= config.config_type_id %>">
          <% config.presets.forEach(preset => { %>
            <option><%= preset %></option>
          <% }) %> 
        </select>
      <% } else if (config.input == 'checkbox') { %>
        <br>
        <input
          type="checkbox"
          name="<%= config.config_type_id %>">
      <% } %>
      <br>
    <% }) %>
    <br>
    <input type="submit" value="Save" />
  </form>
<% } %>